

{% extends 'templates/sablon.html' %}

{% block heder %}

    <style>

        .text-white {
            color: white;
        }

        .larger-font {
            font-size: 1.2em;
        }

    </style>


{% endblock %}

{% block sadrzaj %}
<div class="container fluid">
  <div class="text-center mt-4">
    <h2 class="text-white font-weight-bold text-yellow">O nama</h2>
  </div>
  <div class="border border-yellow p-4 mt-4">
    <ul class="larger-font custom-list" >
      <li>
        Mi smo vodeća platforma za online prodaju karata u Srbiji. Sa strašću prema događajima i posvećenošću prema našim korisnicima, obezbeđujemo jedinstveno iskustvo u pronalaženju i kupovini karata za različite vrste događaja širom zemlje.
      </li>
        <hr>
      <li>
        Naš tim stručnjaka radi naporno kako bismo vam omogućili jednostavan i siguran način da rezervišete karte za koncerte, sportske događaje, pozorišne predstave, žurke i još mnogo toga. Svojim korisnicima pružamo širok izbor događaja i sedišta, uz transparentne informacije o cenama i dostupnosti.
      </li>
        <hr>
      <li>
        Verujemo u snagu umetnosti, zabave i zajedničkih iskustava. Naš cilj je da olakšamo ljudima da pronađu i dožive svoje omiljene događaje, deleći sreću i uzbuđenje sa prijateljima i voljenima.
      </li>
        <hr>
      <li>
        Kao tim, smo posvećeni visokom kvalitetu usluge i zadovoljstvu naših korisnika. Svaki korisnik je za nas važan, i trudimo se da pružimo podršku i brigu tokom celog procesa kupovine karata.
      </li>
        <hr>
      <li>
        Uvereni smo da su događaji posebni trenuci koji obogaćuju naš život, stvaraju uspomene i spajaju ljude. Zato smo tu da vam pomognemo da pronađete i rezervišete karte za vaše omiljene događaje, jer želimo da budete deo nezaboravnih iskustava.
      </li>
    </ul>
  </div>
</div>

{% endblock %}
