
{% extends 'templates/sablon.html' %}

{% block heder %}

    <style>
        body {
            background-image: url("../../media/slike/nove_pozadine/pozadina.png");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .text-white {
            color: yellow;
        }

        .larger-font {
            font-size: 1.2em;
        }

    </style>


{% endblock %}

{% block sadrzaj %}
<div class="container fluid"><div class="text-center mt-4">
  <h2 class="font-weight-bold text-yellow">Pomoć</h2>
</div>
<div class="border border-yellow p-4 mt-4">
  <ul class="text-white larger-font custom-list">
    <li>
      Naš tim za podršku je tu da vam pomogne u svakom trenutku. Ako imate pitanja, nedoumice ili vam je potrebna asistencija, slobodno nas kontaktirajte.
    </li>
    <hr>
    <li>
      Možete nas dobiti putem telefona, e-pošte ili putem obrasca za kontakt na našoj platformi. Naši ljubazni agenti će vam pružiti sve neophodne informacije i pomoći vam u rešavanju problema.
    </li>
    <hr>
    <li>
      Ukoliko imate tehničke probleme prilikom korišćenja naše platforme, obratite se našem timu za tehničku podršku. Oni će se potruditi da reše sve tehničke nedostatke i pruže vam najbolje iskustvo prilikom korišćenja naše usluge.
    </li>
    <hr>
    <li>
      Takođe, imamo obimnu bazu znanja u vidu često postavljanih pitanja (FAQ) gde možete pronaći odgovore na najčešća pitanja koja se odnose na kupovinu karata, rezervacije i druge funkcionalnosti naše platforme.
    </li>
    <hr>
    <li>
      Vaša sreća i zadovoljstvo su nam prioritet. Nemojte oklevati da nas kontaktirate ukoliko imate bilo kakav zahtev, sugestiju ili pritužbu. Vaše povratne informacije su nam dragocene i pomažu nam da unapredimo našu uslugu.
    </li>
  </ul>
</div>



</div>

{% endblock %}
