

{% extends 'templates/sablon.html' %}

{% block heder %}

    <style>

        .text-white {
            color: white;
        }

        .larger-font {
            font-size: 1.2em;
        }

    </style>


{% endblock %}

{% block sadrzaj %}
<div class="container fluid">
<div class="text-center mt-4">
  <h2 class="font-weight-bold text-yellow">Uslovi korišćenja</h2>
</div>
<div class="border border-yellow p-4 mt-4">
  <ul class="text-white larger-font custom-list">
    <li>
      Koristeći našu platformu za online prodaju karata, prihvatate sledeće uslove korišćenja koji su namenjeni da obezbede sigurno i pouzdano iskustvo za sve naše korisnike.
    </li>
    <hr>
    <li>
      Sve informacije i sadržaj na našoj platformi su samo u informativne svrhe. Ne garantujemo tačnost, kompletnost ili aktuelnost informacija.
    </li>
    <hr>
    <li>
      Korišćenje naše platforme podrazumeva odgovornost za sve aktivnosti izvršene sa vašeg naloga. Molimo vas da čuvate svoje podatke za prijavu i obaveštavate nas o svakoj sumnjivoj aktivnosti.
    </li>
    <hr>
    <li>
      Nije dozvoljeno zloupotrebljavati našu platformu ili vršiti neovlašćene promene, pristup ili ometanje rada sistema.
    </li>
    <hr>
    <li>
      Zadržavamo pravo da suspendujemo ili trajno obustavimo pristup korisnicima koji krše naše uslove korišćenja ili ugrožavaju sigurnost naše platforme.
    </li>
  </ul>
</div>

</div>

{% endblock %}
